/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo das seções */
section {
    padding: 2rem;
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

section h2 {
    margin-bottom: 1rem;
    color: #007BFF;
}

section p {
    margin-bottom: 1rem;
}

section ul {
    list-style-type: disc;
    margin-left: 2rem;
}

section ul li {
    margin-bottom: 0.5rem;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
    section {
        width: 90%;
    }
}

@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    section {
        width: 95%;
    }
}